:root{
    --react-algeria-map-hover-fill : white;
    --react-algeria-map-hover-stroke : dodgerblue;
  }
  .state {
    transition: 1s;
  }
  :hover.state {
    fill: var(--react-algeria-map-hover-fill,white);
    stroke: var(--react-algeria-map-hover-stroke,white);
    stroke-width: 4px;
    cursor: pointer;
  }
.carteinteractive{
  display: flex;
  flex-direction: row;
  gap:10px;
  justify-content: center;
  align-items: center;
  padding: 5px;
}
.cartetext{
  padding: 50px;
}

.cartetext h1 {
  font-family: Nunito ;
  font-size:xx-large; 
  font-weight: 600;
}

.cartetext h3{
  font-family: Poppins;
  font-size: large;
}
.cartetext img{
  max-width: 500px;
  max-height:500px;
}
.container{
    padding: 20px;

}

.hellooo{
  background-color: white ;
  max-width: 300px;
  max-height: 350px;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 10px ;
  padding:8px;
  border-radius: 10px  ;
}
.hellooo img {
  max-width: 200px;
  max-height: 200px;
}
.hellooo p {
  font-family: Nunito ;
  font-size: large;
  color:#274B58; 
}
.hellooo button {
  background-color: #6FB1B4;
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  color: #FFFFFF;
  border-radius: 8px;
  padding: 5px;
}
.hellooo button:hover{
  background-color: #274B58;
  color: #6FB1B4;
}
@keyframes colorChange {
  50% { color: #274B58; }
  0% { color: white; }
  100% { color: #6FB1B4; }
}

.text-animation {
  animation: colorChange 3s linear infinite;
}

select {
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #6FB1B4;
  color: white;
  width: 300px;
  font-family: Poppins;
}

select:focus {
  outline: none;
  border-color: #274B58;
  box-shadow: 0 0 5px #274B58;
}
